:root {
    --bg-grey : #E7E7E7;
    --bg-blue : #3282F7;
    --bg-green : #68D9A4;
    --bg-coral : #ED6454;
    --bg-darkred : #D04F4F;
}
.bg-grey{
    background-color: var(--bg-grey);
}
.bg-blue{
    background-color: var(--bg-blue);
}
.bg-green{
    background-color: var(--bg-green);
}
.bg-darkred{
    background-color: var(--bg-darkred);
}
.bg-coral{
    background-color: var(--bg-coral);
}
.col-darkred{
    color:var(--bg-darkred)
}
.col-white{
    color: white;
}
.col-white::placeholder{
    color: white;
}
.search-btn{
    position: relative;
    top: -3.6rem;
}
.recipe-card{
    height: 364px;

}
#ingredientsMenuButton{
    color: white;
    background-color: var(--bg-blue);
}
#ingredientsMenuButton:focus{
    background-color: var(--bg-blue);
}
#ingredientsMenuButton:hover{
    background-color: var(--bg-blue);
}

#appareilMenuButton:focus{
    background-color: var(--bg-green);
}
#appareilMenuButton:hover{
    background-color: var(--bg-green);
}
#ustensilsMenuButton:focus{
    background-color: var(--bg-coral);
}
#ustensilsMenuButton:hover{
    background-color: var(--bg-coral);
}
.ingredientDropList{
    width: 200px;
}
.ingredientDropList a{
    max-width: 200px;
}
.appareilsDropList a{
    max-width: 200px;
}
.ustensilsDropList a{
    max-width: 200px;
}
.dropdown em{
    position:relative;
    right: 3rem;
}